/*

!.gitignore

!/WCMS5
/WCMS5/*
!/WCMS5/reactroot
/WCMS5/reactroot/*
!/WCMS5/reactroot/system-data
/WCMS5/reactroot/system-data/*
!/WCMS5/reactroot/system-data/alarmtype
/WCMS5/reactroot/system-data/alarmtype/*
!/WCMS5/reactroot/system-data/alarmtype/types
/WCMS5/reactroot/system-data/alarmtype/types/*
!/WCMS5/reactroot/system-data/alarmtype/types/Russian.json

!/WCMS5/root
/WCMS5/root/*
!/WCMS5/root/public
/WCMS5/root/public/*
!/WCMS5/root/public/locale
/WCMS5/root/public/locale/*
!/WCMS5/root/public/locale/Russian
/WCMS5/root/public/locale/Russian/*
!/WCMS5/root/public/locale/Russian/lang.js

!/TransmitServer
/TransmitServer/*
!TransmitServer/Language
/TransmitServer/Language/*
!TransmitServer/Language/AlarmType_RussianGB.lng
